@use '../utils/mixins' as *;

.header {
    display: flex;
    flex-direction: column;

    &__name {
        margin-top: 40px;
        text-align: center;
        font-weight: 500;
    }

    &__nav {
        margin-top: 15px;
        display: flex;
        gap: 16px;
    }
}

@include respond-to(tablet) {
    .header {
        &__name {
            margin-top: 20px;
        }

        &__nav {
            margin-top: 10px;
            gap: 10px;
        }
    }
}

@include respond-to(mobile) {
    .header {
        &__name {
            margin-top: 10px;
        }

        &__nav {
            margin-top: 15px;
            flex-direction: column; 
            gap: 8px;
        }
    }
}
