.header {
    display: flex;
    flex-direction: column;

    &__name {
        margin-top: 40px;
        text-align: center;
        font-weight: 500;
    }

    &__nav {
        margin-top: 15px;
        display: flex;
        gap: 16px;
    }
}
