.add-button {
    position: absolute;
    bottom: 3%;
    right: 1%;
    background-color: var(--button-color);
    color: var(--button-text-coor);
    border: none;
    border-radius: 50%;
    padding: 13px;
}
