@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.todo-list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-inline: 115px;
    height: calc(100vh - 20vh);
}

.todo-list__tasks{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; 
    li {
        border-bottom: 1px solid #6b63ff50;
        &:last-child {
            border: none;
        }
    }
    
}
